In [ ]:
import pandas as pd
import numpy as np

#source: https://hri.fi/data/dataset/helsingin-pyorailijamaarat/resource/ffc0ba24-08f9-452e-80db-99850ebc7962
df = pd.read_csv('Helsingin_pyorailijamaarat.csv', sep=';')
df.head()

In [ ]:
print(list(df))

In [ ]:
def filter_columns(df, keep):
	"""Filter Pandas table df, keeping only columns in keep"""
	allColumns = list(df)
	for col in keep:
		allColumns.remove(col)

	return df.drop(columns=allColumns)

keep_columns = ['P�iv�m��r�', 'Baana']
dfBaana = filter_columns(df, keep_columns)
dfBaana.head()

In [ ]:
dfBaana.columns=['Date', 'Baana']
dfBaana.tail()

In [ ]:
#values for the whole year of 2017
for a in range (0, len(dfBaana)):
    if (dfBaana['Date'].iloc[a] == "su 1 tammi 2017 00:00"): 
        print(a)
        break

In [ ]:
for b in range (a, len(dfBaana)):
    if (dfBaana['Date'].iloc[b] == "ma 1 tammi 2018 00:00"): 
        print(b)
        break

In [ ]:
dfBaana = dfBaana[a:b]
print(dfBaana.shape)
dfBaana.head()

In [ ]:
dfBaana = dfBaana.reset_index(drop=True)
dfBaana.tail()

In [ ]:
data_time = pd.date_range('2017-01-01', periods=8760, freq='H')
data_time

In [ ]:
dfBaana = dfBaana.assign(stTime=data_time.values)
print(dfBaana.shape)
dfBaana.tail()

In [ ]:
dfBaana = dfBaana.drop(columns = 'Date')
dfBaana = dfBaana.set_index(dfBaana.stTime)
dfBaana.head(3)

In [ ]:
dfBaana = dfBaana.drop(columns = 'stTime')
dfBaana.head(3)

In [ ]:
#want to look at average number of bikers as a function of the time of day
by_hour = dfBaana.groupby(dfBaana.index.hour).mean()
by_hour

In [ ]:
#want to look at number bikers every month
by_month = dfBaana.groupby(dfBaana.index.month).sum()
by_month

In [ ]:
#another alternative, same result
by_month2 = dfBaana.resample('M').sum()
by_month2

In [ ]:
#We'll add day of week, and a boolean for is_weekend.
dfBaana["weekday"] = dfBaana.index.weekday
dfBaana['is_weekend'] = dfBaana.weekday.isin([5,6])*1
print(dfBaana.shape)
dfBaana.tail()

In [ ]:
by_weekday = dfBaana.groupby(dfBaana.weekday).mean()
print(by_weekday.shape)
by_weekday

In [ ]:
by_weekend = dfBaana.groupby(dfBaana.is_weekend).mean()
print(by_weekend.shape)
by_weekend